.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 30px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}
:root {
    --primary-color: #ccd1e4;
}

.accordion {
    max-width: 15rem;
    margin-bottom: 0.5rem;
}

.accordion button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion button:hover {
    background: var(--primary-color);
}

.accordion .content {
    padding: 0.5rem;
    background: #f7f7f7;
}
